In [24]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.2.0-cp311-cp311-win_amd64.whl.metadata (6.2 kB)
Downloading mysql_connector_python-9.2.0-cp311-cp311-win_amd64.whl (16.1 MB)
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
    --------------------------------------- 0.3/16.1 MB ? eta -:--:--
   - -------------------------------------- 0.5/16.1 MB 1.9 MB/s eta 0:00:09
   -- ------------------------------------- 1.0/16.1 MB 1.8 MB/s eta 0:00:09
   --- ------------------------------------ 1.3/16.1 MB 1.8 MB/s eta 0:00:09
   ---- ----------------------------------- 1.8/16.1 MB 1.8 MB/s eta 0:00:08
   ----- ---------------------------------- 2.1/16.1 MB 1.8 MB/s eta 0:00:08
   ------ --------------------------------- 2.6/16.1 MB 1.8 MB/s eta 0:00:08
   ------- -------------------------------- 2.9/16.1 MB 1.8 MB/s eta 0:00:08
   -------- ------------------------------- 3.4/16.1 MB 1.8 MB/s eta 0:00:08
   --------- ------------------------------ 3.7/16.1 MB 1.8 MB/s eta 0:00:07
   ---------- ----------------------------- 4.2/16.1 MB 1.8 MB/s eta 0:00:07
   ----------- ---------------------------- 4.5/16.1 MB 1.8 MB/s eta 0:00:07
   ----------- ---------------------------- 4.7/16.1 MB 1.8 MB/s eta 0:00:07
   ------------- -------------------------- 5.2/16.1 MB 1.8 MB/s eta 0:00:06
   ------------- -------------------------- 5.5/16.1 MB 1.8 MB/s eta 0:00:06
   -------------- ------------------------- 6.0/16.1 MB 1.8 MB/s eta 0:00:06
   --------------- ------------------------ 6.3/16.1 MB 1.8 MB/s eta 0:00:06
   ---------------- ----------------------- 6.8/16.1 MB 1.8 MB/s eta 0:00:06
   ----------------- ---------------------- 7.1/16.1 MB 1.8 MB/s eta 0:00:05
   ------------------ --------------------- 7.6/16.1 MB 1.8 MB/s eta 0:00:05
   ------------------- -------------------- 7.9/16.1 MB 1.8 MB/s eta 0:00:05
   -------------------- ------------------- 8.4/16.1 MB 1.8 MB/s eta 0:00:05
   --------------------- ------------------ 8.7/16.1 MB 1.8 MB/s eta 0:00:05
   ---------------------- ----------------- 9.2/16.1 MB 1.8 MB/s eta 0:00:04
   ----------------------- ---------------- 9.4/16.1 MB 1.8 MB/s eta 0:00:04
   ------------------------ --------------- 10.0/16.1 MB 1.8 MB/s eta 0:00:04
   ------------------------- -------------- 10.2/16.1 MB 1.8 MB/s eta 0:00:04
   -------------------------- ------------- 10.7/16.1 MB 1.8 MB/s eta 0:00:03
   --------------------------- ------------ 11.0/16.1 MB 1.8 MB/s eta 0:00:03
   ---------------------------- ----------- 11.5/16.1 MB 1.8 MB/s eta 0:00:03
   ----------------------------- ---------- 11.8/16.1 MB 1.8 MB/s eta 0:00:03
   ------------------------------ --------- 12.3/16.1 MB 1.8 MB/s eta 0:00:03
   ------------------------------- -------- 12.6/16.1 MB 1.8 MB/s eta 0:00:02
   ------------------------------- -------- 12.8/16.1 MB 1.8 MB/s eta 0:00:02
   --------------------------------- ------ 13.4/16.1 MB 1.8 MB/s eta 0:00:02
   --------------------------------- ------ 13.6/16.1 MB 1.8 MB/s eta 0:00:02
   ----------------------------------- ---- 14.2/16.1 MB 1.8 MB/s eta 0:00:02
   ----------------------------------- ---- 14.4/16.1 MB 1.8 MB/s eta 0:00:01
   ------------------------------------- -- 14.9/16.1 MB 1.8 MB/s eta 0:00:01
   ------------------------------------- -- 15.2/16.1 MB 1.8 MB/s eta 0:00:01
   ---------------------------------------  15.7/16.1 MB 1.8 MB/s eta 0:00:01
   ---------------------------------------  16.0/16.1 MB 1.8 MB/s eta 0:00:01
   ---------------------------------------- 16.1/16.1 MB 1.8 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.2.0

WARNING: Ignoring invalid distribution ~ (C:\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (C:\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~~p (C:\Python311\Lib\site-packages)
DEPRECATION: Loading egg at c:\python311\lib\site-packages\vboxapi-1.0-py3.11.egg is deprecated. pip 25.1 will enforce this behaviour change. A possible replacement is to use pip for package installation. Discussion can be found at https://github.com/pypa/pip/issues/12330
WARNING: Ignoring invalid distribution ~ (C:\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (C:\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~~p (C:\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ (C:\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (C:\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~~p (C:\Python311\Lib\site-packages)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
#importing the csv file
import pandas as pd
df = pd.read_csv("orders.csv")
df.head(20)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
5,6,2022-03-13,Not Available,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,50,50,7,3
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,10,10,4,3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,860,910,6,5
8,9,2023-03-23,Not Available,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,20,20,3,2
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,90,110,5,3
10,11,2023-03-31,Not Available,Consumer,United States,Los Angeles,California,90032,West,Furniture,Tables,FUR-TA-10001539,1470,1710,9,3
11,12,2023-12-25,Not Available,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002033,750,910,4,3
12,13,2022-02-11,Standard Class,Consumer,United States,Concord,North Carolina,28027,South,Office Supplies,Paper,OFF-PA-10002365,20,20,3,3
13,14,2023-07-18,Standard Class,Consumer,United States,Seattle,Washington,98103,West,Office Supplies,Binders,OFF-BI-10003656,360,410,3,2
14,15,2023-11-09,unknown,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Appliances,OFF-AP-10002311,60,70,5,5
15,16,2022-06-18,Standard Class,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Binders,OFF-BI-10000756,0,0,3,5
16,17,2022-02-04,Standard Class,Consumer,United States,Madison,Wisconsin,53711,Central,Office Supplies,Storage,OFF-ST-10004186,610,670,6,3
17,18,2023-08-04,Second Class,Consumer,United States,West Jordan,Utah,84084,West,Office Supplies,Storage,OFF-ST-10000107,60,60,2,4
18,19,2022-01-23,Second Class,Consumer,United States,San Francisco,California,94109,West,Office Supplies,Art,OFF-AR-10003056,10,10,2,4
19,20,2022-01-11,Second Class,Consumer,United States,San Francisco,California,94109,West,Technology,Phones,TEC-PH-10001949,170,210,3,3

In [9]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order Id          9994 non-null   int64
 1   Order Date        9994 non-null   object
 2   Ship Mode         9993 non-null   object
 3   Segment           9994 non-null   object
 4   Country           9994 non-null   object
 5   City              9994 non-null   object
 6   State             9994 non-null   object
 7   Postal Code       9994 non-null   int64
 8   Region            9994 non-null   object
 9   Category          9994 non-null   object
 10  Sub Category      9994 non-null   object
 11  Product Id        9994 non-null   object
 12  cost price        9994 non-null   int64
 13  List Price        9994 non-null   int64
 14  Quantity          9994 non-null   int64
 15  Discount Percent  9994 non-null   int64
dtypes: int64(6), object(10)
memory usage: 1.2+ MB

In [10]:

df['Order Id'].nunique() #For ID we can check unique count instead of fetching unique values

9994

In [11]:
df['Order Date'].unique()

array(['2023-03-01', '2023-08-15', '2023-01-10', '2022-06-18',
       '2022-07-13', '2022-03-13', '2022-12-28', '2022-01-25',
       '2023-03-23', '2023-05-16', '2023-03-31', '2023-12-25',
       '2022-02-11', '2023-07-18', '2023-11-09', '2022-02-04',
       '2023-08-04', '2022-01-23', '2022-01-11', '2022-10-05',
       '2023-07-16', '2023-05-06', '2023-05-21', '2023-02-24',
       '2022-06-20', '2022-02-08', '2023-12-11', '2022-08-21',
       '2022-08-14', '2022-11-20', '2023-01-19', '2023-01-30',
       '2022-06-03', '2022-09-28', '2022-10-30', '2023-07-27',
       '2023-03-07', '2023-08-18', '2022-01-20', '2023-06-29',
       '2022-06-28', '2023-02-09', '2023-09-18', '2022-11-11',
       '2022-05-27', '2023-02-03', '2022-02-16', '2022-05-06',
       '2023-06-18', '2023-09-09', '2022-01-31', '2023-07-30',
       '2023-10-17', '2023-07-06', '2023-09-15', '2022-08-09',
       '2022-04-05', '2023-06-24', '2022-03-10', '2023-04-08',
       '2023-10-16', '2023-08-02', '2022-11-05', '2022-03-26',
       '2022-04-10', '2022-08-12', '2022-02-25', '2022-11-29',
       '2022-12-18', '2023-07-12', '2022-10-21', '2023-04-17',
       '2023-05-20', '2023-05-13', '2022-10-20', '2023-10-22',
       '2022-07-20', '2022-11-16', '2022-11-10', '2022-03-15',
       '2023-10-03', '2022-03-20', '2023-12-04', '2023-11-24',
       '2023-12-30', '2022-05-23', '2023-04-06', '2022-03-23',
       '2023-04-07', '2022-05-13', '2022-04-23', '2023-12-17',
       '2022-04-28', '2023-06-14', '2023-02-05', '2022-02-24',
       '2022-07-25', '2022-01-14', '2022-12-22', '2022-06-09',
       '2023-10-28', '2022-10-18', '2022-11-23', '2023-10-12',
       '2023-03-17', '2023-09-05', '2022-01-28', '2022-12-26',
       '2023-06-06', '2023-11-08', '2022-11-15', '2022-06-30',
       '2023-10-27', '2023-07-19', '2023-03-30', '2022-03-03',
       '2023-01-23', '2023-01-21', '2023-07-15', '2022-07-14',
       '2022-01-03', '2022-07-17', '2022-03-30', '2022-05-01',
       '2023-04-29', '2022-10-28', '2022-03-05', '2022-03-28',
       '2022-05-15', '2022-06-10', '2022-07-22', '2023-12-27',
       '2023-11-29', '2022-03-19', '2023-06-04', '2023-05-31',
       '2022-06-12', '2022-05-18', '2023-08-21', '2023-08-31',
       '2022-10-25', '2022-10-07', '2023-03-25', '2023-03-27',
       '2022-05-03', '2022-04-25', '2022-01-10', '2023-11-27',
       '2023-10-14', '2022-10-16', '2023-11-04', '2023-06-16',
       '2022-07-12', '2023-10-10', '2023-01-02', '2022-04-21',
       '2022-04-18', '2022-03-08', '2023-06-08', '2022-06-25',
       '2023-02-23', '2022-10-19', '2022-08-22', '2023-10-11',
       '2022-12-06', '2023-12-09', '2022-06-23', '2023-01-07',
       '2022-10-26', '2023-11-03', '2023-03-05', '2022-12-21',
       '2022-06-16', '2022-12-11', '2022-12-31', '2022-03-12',
       '2023-07-10', '2023-12-01', '2023-08-08', '2022-08-19',
       '2023-10-07', '2023-04-22', '2023-11-20', '2022-08-29',
       '2023-08-10', '2023-04-24', '2022-03-24', '2023-03-26',
       '2023-11-19', '2023-11-18', '2022-04-22', '2022-02-17',
       '2023-10-02', '2023-07-21', '2023-01-18', '2023-10-19',
       '2023-09-13', '2023-11-10', '2023-11-26', '2022-01-02',
       '2022-01-19', '2023-12-13', '2023-01-20', '2023-04-25',
       '2023-05-27', '2022-11-08', '2022-01-08', '2022-04-20',
       '2022-11-09', '2023-04-28', '2022-09-26', '2023-09-19',
       '2022-05-28', '2022-04-03', '2022-12-25', '2022-11-26',
       '2022-02-10', '2022-06-11', '2023-08-29', '2022-06-14',
       '2023-06-20', '2022-11-17', '2023-10-25', '2022-05-19',
       '2022-08-10', '2022-01-24', '2022-09-16', '2022-10-31',
       '2023-04-04', '2023-10-20', '2022-05-21', '2022-05-17',
       '2022-10-06', '2023-10-05', '2022-07-28', '2022-08-01',
       '2023-06-05', '2023-04-01', '2023-06-22', '2023-05-30',
       '2023-08-05', '2023-11-17', '2022-09-25', '2022-09-24',
       '2022-06-29', '2023-09-12', '2023-09-01', '2022-05-05',
       '2023-08-06', '2022-09-08', '2022-05-30', '2023-01-13',
       '2022-05-12', '2022-12-07', '2023-06-11', '2023-10-01',
       '2022-04-11', '2022-03-21', '2022-05-04', '2023-07-08',
       '2022-08-30', '2022-09-07', '2023-06-07', '2022-07-09',
       '2022-01-12', '2022-07-01', '2023-07-13', '2023-04-21',
       '2022-09-18', '2022-05-09', '2022-05-07', '2023-02-01',
       '2023-02-04', '2022-02-14', '2023-09-08', '2023-10-29',
       '2022-02-20', '2023-05-01', '2023-01-26', '2023-11-05',
       '2023-01-25', '2023-09-20', '2022-10-14', '2022-08-15',
       '2022-07-15', '2022-10-29', '2022-09-23', '2022-09-27',
       '2022-03-02', '2023-02-25', '2023-05-17', '2023-12-19',
       '2023-03-21', '2023-02-08', '2023-01-27', '2023-03-04',
       '2023-08-26', '2023-03-14', '2022-12-19', '2022-11-03',
       '2022-06-26', '2022-08-23', '2023-09-23', '2022-02-02',
       '2022-10-22', '2023-02-11', '2023-03-06', '2023-02-12',
       '2023-04-02', '2022-05-25', '2022-08-28', '2022-11-25',
       '2022-05-11', '2023-12-31', '2023-12-08', '2022-08-05',
       '2022-08-20', '2023-08-28', '2023-12-18', '2022-10-17',
       '2023-12-26', '2023-11-07', '2023-06-03', '2022-02-18',
       '2023-03-19', '2023-03-10', '2022-04-15', '2023-08-17',
       '2022-02-13', '2023-02-10', '2022-02-23', '2022-11-18',
       '2022-06-06', '2022-01-09', '2022-10-15', '2022-12-15',
       '2022-07-06', '2023-12-05', '2023-12-07', '2022-03-14',
       '2022-04-04', '2023-03-16', '2022-12-05', '2023-12-23',
       '2023-12-22', '2023-09-24', '2022-11-30', '2022-10-01',
       '2023-04-23', '2022-04-24', '2023-04-20', '2022-12-04',
       '2022-12-27', '2023-12-12', '2022-07-16', '2022-02-01',
       '2023-07-03', '2023-08-07', '2022-12-16', '2023-10-15',
       '2023-12-14', '2023-03-09', '2023-01-08', '2023-01-03',
       '2023-06-26', '2022-12-09', '2022-10-13', '2023-11-06',
       '2022-08-03', '2022-10-10', '2023-12-10', '2023-09-28',
       '2022-01-04', '2022-08-25', '2022-09-03', '2023-03-24',
       '2022-05-24', '2022-11-01', '2022-07-18', '2023-01-06',
       '2023-11-22', '2022-01-29', '2023-05-14', '2022-02-28',
       '2022-08-27', '2023-10-23', '2022-11-28', '2023-12-15',
       '2023-06-30', '2023-11-13', '2022-08-26', '2022-09-22',
       '2022-09-21', '2022-06-05', '2023-01-09', '2023-09-21',
       '2022-06-02', '2022-09-01', '2023-07-01', '2023-11-25',
       '2022-11-27', '2022-06-21', '2022-10-04', '2022-01-26',
       '2022-01-01', '2023-06-10', '2022-03-01', '2023-07-29',
       '2023-07-04', '2022-10-02', '2023-07-14', '2023-11-11',
       '2022-12-08', '2023-06-12', '2023-11-02', '2022-08-17',
       '2023-07-22', '2023-11-16', '2022-07-21', '2023-03-03',
       '2023-04-03', '2023-02-19', '2022-06-08', '2022-03-29',
       '2023-05-25', '2023-11-15', '2022-07-04', '2022-03-11',
       '2023-02-07', '2022-10-11', '2022-06-24', '2022-01-30',
       '2023-03-20', '2022-06-04', '2023-01-01', '2023-07-24',
       '2022-12-12', '2023-01-04', '2022-10-24', '2022-08-18',
       '2022-07-08', '2022-01-18', '2023-02-14', '2022-07-31',
       '2022-08-16', '2022-02-03', '2022-11-14', '2022-07-26',
       '2023-02-20', '2022-01-06', '2022-05-31', '2023-02-15',
       '2022-08-31', '2023-01-16', '2023-01-15', '2022-08-08',
       '2023-02-18', '2022-01-05', '2022-03-27', '2023-12-03',
       '2022-01-07', '2022-04-02', '2022-09-29', '2023-08-22',
       '2023-01-14', '2022-09-15', '2022-04-27', '2022-12-10',
       '2022-11-04', '2023-08-20', '2022-06-07', '2022-07-24',
       '2023-08-09', '2023-07-20', '2022-09-04', '2022-02-06',
       '2022-11-13', '2023-02-21', '2022-08-13', '2023-06-25',
       '2023-05-18', '2022-11-21', '2022-04-16', '2022-04-26',
       '2022-01-16', '2023-07-25', '2023-05-02', '2022-06-15',
       '2023-10-04', '2023-11-01', '2023-09-27', '2023-08-11',
       '2023-05-05', '2023-07-05', '2023-02-27', '2022-04-09',
       '2022-05-14', '2023-03-11', '2023-04-14', '2022-11-06',
       '2023-05-24', '2023-05-26', '2022-04-30', '2023-07-28',
       '2023-10-13', '2022-09-12', '2022-04-08', '2023-11-23',
       '2023-06-21', '2023-10-24', '2022-03-07', '2023-12-21',
       '2023-08-27', '2022-07-05', '2023-03-22', '2022-07-02',
       '2022-04-06', '2023-07-26', '2022-11-02', '2022-04-01',
       '2023-09-06', '2023-04-27', '2023-05-12', '2022-07-11',
       '2022-06-01', '2022-02-07', '2023-06-13', '2023-07-11',
       '2022-05-10', '2023-02-06', '2023-05-09', '2023-05-29',
       '2022-03-17', '2023-03-13', '2022-08-04', '2022-02-22',
       '2022-06-27', '2022-10-23', '2023-09-04', '2023-08-16',
       '2022-09-13', '2022-05-29', '2023-04-16', '2023-11-14',
       '2023-08-14', '2023-02-17', '2023-09-02', '2022-10-08',
       '2023-08-03', '2023-07-17', '2022-04-14', '2022-06-22',
       '2023-12-29', '2023-09-16', '2022-08-06', '2023-10-21',
       '2023-01-24', '2022-04-19', '2023-07-23', '2023-06-27',
       '2022-05-22', '2023-09-07', '2022-04-29', '2023-12-16',
       '2022-02-15', '2022-04-12', '2023-04-09', '2022-04-17',
       '2023-10-18', '2023-09-03', '2022-07-03', '2022-09-06',
       '2023-12-02', '2022-08-24', '2023-06-02', '2022-11-24',
       '2023-01-28', '2022-12-24', '2022-11-12', '2023-08-23',
       '2022-12-23', '2023-04-26', '2022-07-19', '2022-01-13',
       '2023-05-10', '2022-09-09', '2023-04-10', '2022-03-06',
       '2022-08-02', '2023-12-28', '2023-10-31', '2023-07-07',
       '2023-05-22', '2022-09-20', '2023-06-09', '2023-05-11',
       '2023-11-21', '2023-04-30', '2022-07-23', '2023-08-24',
       '2022-04-13', '2022-09-02', '2023-09-30', '2023-12-20',
       '2023-05-23', '2022-09-05', '2022-03-09', '2022-01-21',
       '2022-05-08', '2022-03-22', '2023-03-02', '2023-04-13',
       '2023-03-29', '2023-02-26', '2023-01-12', '2023-07-09',
       '2023-01-11', '2022-10-27', '2022-07-30', '2022-09-17',
       '2023-05-07', '2023-10-30', '2022-12-02', '2022-12-20',
       '2023-11-30', '2022-09-11', '2023-03-28', '2023-09-25',
       '2023-08-25', '2023-07-02', '2022-01-15', '2022-12-13',
       '2022-05-16', '2023-09-10', '2023-04-05', '2023-06-28',
       '2023-06-19', '2023-08-13', '2023-04-19', '2023-03-15',
       '2022-03-25', '2022-09-30', '2022-02-05', '2023-08-19',
       '2022-12-14', '2023-03-18', '2023-02-16', '2023-06-01',
       '2023-11-12', '2022-05-26', '2022-02-27', '2023-05-08',
       '2022-07-27', '2023-11-28', '2022-05-20', '2022-01-17',
       '2023-07-31', '2023-04-12', '2022-10-12', '2022-12-01',
       '2023-01-17', '2022-11-19', '2023-10-08', '2023-09-26',
       '2023-04-15', '2023-06-17', '2023-03-12', '2022-01-22',
       '2022-03-18', '2023-01-31', '2023-08-12', '2023-05-15',
       '2023-02-02', '2023-10-26', '2022-03-04', '2022-06-13',
       '2022-12-29', '2022-02-12', '2023-05-19', '2022-08-07',
       '2022-12-17', '2022-02-19', '2023-01-05', '2022-11-22',
       '2022-07-10', '2022-05-02', '2022-03-31', '2023-02-22',
       '2023-08-30', '2023-09-17', '2022-06-17', '2023-02-28',
       '2023-05-28', '2022-07-07', '2023-01-29', '2022-09-19',
       '2023-10-06', '2023-04-11', '2023-06-23', '2022-09-14',
       '2022-03-16', '2022-06-19', '2022-02-26', '2023-03-08',
       '2023-05-03', '2023-12-24', '2022-08-11', '2022-12-03',
       '2023-09-14', '2023-06-15', '2022-01-27', '2022-02-09',
       '2023-08-01', '2023-01-22', '2023-02-13', '2023-09-29',
       '2023-04-18', '2023-09-11', '2022-10-09', '2023-10-09',
       '2022-07-29', '2022-04-07', '2022-02-21', '2023-12-06',
       '2022-12-30', '2022-11-07', '2023-05-04', '2022-09-10',
       '2022-10-03', '2023-09-22'], dtype=object)

In [12]:
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', 'Not Available', 'unknown',
       'First Class', nan, 'Same Day'], dtype=object)

In [13]:
#Here we have undesirable values which we will first convert to null
import numpy as np
df['Ship Mode'] = df['Ship Mode'].replace(['Not Available', 'unknown'],np.nan)
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [14]:
df['Category'].unique()

array(['Furniture', 'Office Supplies', 'Technology'], dtype=object)

In [15]:
df.columns = df.columns.str.lower() #we will rename the columns by replacing space with underscore and converting to lower case for ease of use

In [16]:
df.columns = df.columns.str.replace(' ','_')
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [17]:
#Let us add new columns for sale_price and profit
#discount = list_price - discount_percent
#sales_price = list_price - discount
#profit = cost_price - sales_price
df['discount'] = df['list_price']*df['discount_percent']*0.01
df['sales_price'] = df['list_price']-df['discount']
df['profit'] = df['list_price'] - df['sales_price']
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sales_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,5.2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,21.9
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,19.2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4,3.6
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8,5.2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1,0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8,7.2

In [18]:
#Now we will remove columns that we don't need
df.drop(columns = ['list_price','discount_percent','cost_price'], inplace = True)

In [19]:
#We will also convert the order_date column into datetime datatype for using it in SQL
df['order_date'] = pd.to_datetime(df['order_date'],format = "%Y-%m-%d")

In [20]:
df.dtypes

order_id                 int64
order_date      datetime64[ns]
ship_mode               object
segment                 object
country                 object
city                    object
state                   object
postal_code              int64
region                  object
category                object
sub_category            object
product_id              object
quantity                 int64
discount               float64
sales_price            float64
profit                 float64
dtype: object

In [23]:
import sqlalchemy as sal

# Using SQLAlchemy to connect
engine = sal.create_engine('mysql+mysqlconnector://root:root@localhost/ETL_BASICS')
conn = engine.connect()

In [24]:
# Now we will add the dataframe in an existing database as a table
df.to_sql('df_orders', con = conn, index = False, if_exists = 'replace')
#df_orders will be my table name in SQL
#We don't want index column of dataframe in our SQL table hence index = False
#If table already exists then replace it
#The drawback of using 'replace' is that the datatypes in SQL get assigned to the max value automatically
#Instead we can use create the table in SQL by observing the data in Jupyter and then use if_exists = 'append' to add data to the table

9994

### Create table script
CREATE TABLE df_orders(
	[order_id] int PRIMARY KEY,
	[order_date] date,
	[ship_mode] varchar(20),
	[segment] varchar(20),
	[country] varchar(20),
	[city] varchar(20),
	[state] varchar(20),
	[postal_code] varchar(20),
	[region] varchar(20),
	[category] varchar(20),
	[sub_category] varchar(20),
	[product_id] varchar(50),
	[quantity] int,
	[discount] decimal(7,2),
	[sales_price] decimal(7,2),
	[profit] decimal(7,2))

In [25]:
#Appending data in existing table in SQL
df.to_sql('df_orders', con = conn, index = False, if_exists = 'append')

9994